<!DOCTYPE html>
<html lang="en">
    {{template "head" "Home"}}

    <body>
        {{template "navbar" .Navbar}}
        
        <div class="section">
            <div class="title">Page Views</div>
            <table>
                <tr>
                    <th>Title</th>
                    <th>Views</th>
                </tr>
                {{range .PageViewsTable.Records}}
                    <tr>
                        <td class="text">
                            <div>{{ .Title }}</div>
                            <div class="path">{{ .Path }}</div>
                        </td>
                        <td class="number">{{ .Views }}</td>
                    </tr>
                {{end}}
            </table>
            {{if .PageViewsTable.ShouldShowPagination}}
                {{template "pagination" .PageViewsTable.Pagination}}
            {{end}}
        </div>
    </body>
</html>