{{define "barchart"}}
    <div class="barchart">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 {{.Width}} {{.Height}}">
            <rect width="{{.Width}}" height="{{.Height}}" fill="white" />
            <g class="bar-background">
                {{range .Data}}
                    <rect x="{{.X}}" y="{{.TopOffset}}" width="{{.Width}}" height="{{.MaxHeight}}" />
                {{end}}
            </g>
            <g class="bar-foreground">>
                {{range .Data}}
                    <rect class="bar" x="{{.X}}" y="{{.Y}}" width="{{.Width}}" height="{{.Height}}" data-value="{{.Value}}" data-label="{{.Label}}"/>
                {{end}}
            </g>
            <defs>
                <linearGradient id="bar-selected" x2="0%" y2="100%">
                    <stop offset="0%" stop-color="#A3E635" />
                    <stop offset="100%" stop-color="#65A30D" />
                </linearGradient>
            </defs>
        </svg>
        <div class="tooltip">
            <div class="label">xxx</div>
            <div class="value">yyy</div>
        </div>
        <script>
            const tooltip = document.querySelector('.tooltip');
            const tooltipLabel = document.querySelector('.tooltip > .label');
            const tooltipValue = document.querySelector('.tooltip > .value');
            const bars = document.querySelectorAll('.bar');

            const tooltipHeight = 56;
            const tooltipWidth = 100;

            bars.forEach(bar => {
                bar.addEventListener('mousemove', (e) => {
                    const label = bar.getAttribute('data-label');
                    const value = bar.getAttribute('data-value');

                    const barRect = bar.getBoundingClientRect();
                    const topY = barRect.top + window.scrollY; // https://stackoverflow.com/q/41576287
                    
                    tooltip.style.display = 'flex';
                    let tooltipLeft = barRect.x + (barRect.width / 2) - (tooltipWidth / 2);
                    if (tooltipLeft + tooltipWidth > window.innerWidth) { // https://o7planning.org/12397/javascript-window
                        tooltipLeft = barRect.right - tooltipWidth;
                    } else if (tooltipLeft < 0) {
                        tooltipLeft = barRect.left;
                    }
                    tooltip.style.left = `${tooltipLeft}px`;
                    tooltip.style.top = `${topY - tooltipHeight - 5}px`;
                    tooltipLabel.textContent = label;
                    tooltipValue.textContent = `${value} views`;
                });

                bar.addEventListener('mouseleave', () => {
                    tooltip.style.display = 'none';
                });
            });
        </script>
    </div>
{{end}}