{{define "barchart"}}
    <div class="barchart">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 {{.Width}} {{.Height}}">
            <rect width="{{.Width}}" height="{{.Height}}" fill="white" />
            <g class="bar-background">
                {{range .Data}}
                    <rect x="{{.X}}" y="{{.TopOffset}}" width="{{.Width}}" height="{{.MaxHeight}}" />
                {{end}}
            </g>
            <g class="bar-foreground">>
                {{range .Data}}
                    <rect class="bar" x="{{.X}}" y="{{.Y}}" width="{{.Width}}" height="{{.Height}}" data-value="{{.Value}}" data-label="{{.Label}}"/>
                {{end}}
            </g>
            <defs>
                <linearGradient id="bar-selected" x2="0%" y2="100%">
                    <stop offset="0%" stop-color="#A3E635" />
                    <stop offset="100%" stop-color="#65A30D" />
                </linearGradient>
            </defs>
        </svg>
        <div class="tooltip">
            <div class="label">xxx</div>
            <div class="value">yyy</div>
        </div>
    </div>
{{end}}