{{define "dropdown"}}
    <button class="dropdown-container">
        <div class="dropdown-button">
            <span class="dropdown-selected-option">{{.SelectedOption.Name}}</span>
            <a>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="icon">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M8.25 15 12 18.75 15.75 15m-7.5-6L12 5.25 15.75 9" />
                </svg>
            </a>
        </div>
        <ul class="dropdown-menu">
            {{range .AllOptions}}
                <li>
                    {{if .Link}}
                        <a class="dropdown-option" href="{{.Link}}">{{.Name}}</a>
                    {{else}}
                        <span class="dropdown-option" data-value="{{.Value}}" data-name="{{.Name}}">{{.Name}}</a>
                    {{end}}
                </li>
            {{end}}
        </ul>
        <input type="hidden" id="dropdown-hidden-input" name="{{.InputName}}" value="{{.SelectedOption.Value}}">
    </button>
{{end}}