{{define "head"}}
<head>
    <meta charset="UTF-8">
    <!-- https://webkit.org/blog/7929/designing-websites-for-iphone-x/ -->
    <!-- https://stackoverflow.com/questions/5103407/mobile-safari-device-rotation-causes-bad-scaling-of-website -->
    <meta name="viewport" content="initial-scale=1, viewport-fit=cover, width=device-width, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
    <link rel="manifest" href="/assets/site.webmanifest">
    <title>{{.}} | Mouji</title>
    <link href="/assets/index.css" rel="stylesheet">
    <script src="/assets/index.js" defer></script>
</head>
{{end}}