{{define "pagination"}}
    <div class="pagination-container">
        <div class="pagination">
            {{.PageStartRecord}} - {{.PageEndRecord}} of {{.TotalRecords}}
            <a {{if eq .PrevLink ""}}class="disabled"{{else}}href="{{.PrevLink}}"{{end}}>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="icon">
                    <path fill-rule="evenodd" d="M7.72 12.53a.75.75 0 0 1 0-1.06l7.5-7.5a.75.75 0 1 1 1.06 1.06L9.31 12l6.97 6.97a.75.75 0 1 1-1.06 1.06l-7.5-7.5Z" clip-rule="evenodd" />
                </svg>
            </a>
            <a {{if eq .NextLink ""}}class="disabled"{{else}}href="{{.NextLink}}"{{end}}>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="icon">
                    <path fill-rule="evenodd" d="M16.28 11.47a.75.75 0 0 1 0 1.06l-7.5 7.5a.75.75 0 0 1-1.06-1.06L14.69 12 7.72 5.03a.75.75 0 0 1 1.06-1.06l7.5 7.5Z" clip-rule="evenodd" />
                </svg>
            </a>
        </div>
    </div>
{{end}}