<!DOCTYPE html>
<html lang="en">
    {{template "head" "Settings"}}

    <body>
        {{template "navbar" .Navbar}}

        <div class="section">
            <div class="title-bar">
                <div class="title">Projects</div>
                {{template "button" .NewProjectButton}}
            </div>
            <table>
                {{range .Projects}}
                <tr>
                    <td class="text">{{.Name}}</td>
                    <td class="text">
                        <a href="/projects/{{.ProjectID}}">edit</a>
                    </td>
                </tr>
                {{end}}
            </table>
        </div>
    </body>

</html>