<!DOCTYPE html>
<html lang="en">
    {{template "head" "Change Password"}}

    <body>
        {{template "navbar" .Navbar}}
        
        <div class="section">
            <div class="title">Change Password</div>
            <form action="/users/me/password" method="post">
                {{template "input" .OldPasswordInput}}
                {{template "input" .NewPasswordInput}}
                <div class="v-space-24"></div>
                {{template "button" .SubmitButton}}
            </form>
        </div>
    </body>

</html>