<!DOCTYPE html>
<html lang="en">
    {{template "head" "Users"}}

    <body>
        {{template "navbar" .Navbar}}

        <div class="section">
            {{if eq .IsOnboarding true}}
                <div class="title">Let's get started!</div>
                <div class="subtitle">Create your admin account</div>
            {{end}}
            <form {{if eq .IsOnboarding true}}action="/users/new?is_onboarding=true"{{else}}action="/users/new"{{end}} method="post">
                {{template "input" .EmailInput}}
                {{template "input" .PasswordInput}}
                <div class="v-space-24"></div>
                {{template "button" .SubmitButton}}
            </form>
        </div>
    </body>

</html>