/* 
 * References:
 * "The 80% of UI Design - Typography" https://www.youtube.com/watch?v=9-oefwZ6Z74
 * "Modular scale" https://design-system.economist.com/foundations/typography/modular-scale#type-scale
 * "Line-height" https://design-system.economist.com/foundations/typography/line-height#multipliers
 * "Responsive And Fluid Typography With vh And vw Units" https://www.smashingmagazine.com/2016/05/fluid-typography/
 */

:root {
    /* https://tailwindcss.com/docs/customizing-colors */
    --neutral-900: #171717;
    --neutral-400: #a3a3a3;
    --gray-900: #111827;
    --gray-700: #374151;
    --zinc-200: #E4E4E7;
    --zinc-100: #f4f4f5;
    --red-600: #DC2626;

    /* typography */
    --font-scale: 1.125; /* Major Second */
    --font-family: "Lato", sans-serif;
    --h1: bold   2.027rem/1.2 var(--font-family); /* 1rem * pow(var(--font-scale), 6) */
    --h2: bold   1.802rem/1.2 var(--font-family); /* 1rem * pow(var(--font-scale), 5) */
    --h3: bold   1.602rem/1.2 var(--font-family); /* 1rem * pow(var(--font-scale), 4) */
    --h4: bold   1.424rem/1.2 var(--font-family); /* 1rem * pow(var(--font-scale), 3) */
    --h5: bold   1.266rem/1.2 var(--font-family); /* 1rem * pow(var(--font-scale), 2) */
    --h6: bold   1.125rem/1.2 var(--font-family); /* 1rem * pow(var(--font-scale), 1) */
    --p1: normal 1rem/1.4     var(--font-family);
    --sm: normal 0.889rem/1.4 var(--font-family); /* 1rem / var(--font-scale) */

    /* spacing */
    /* https://medium.com/dwarves-design/the-principle-of-spacing-in-ui-design-part-1-3354d0d65e51 */
    --spacing-xs: 6px;
    --spacing-sm: 12px;
    --spacing-md: 24px;
    --spacing-lg: 48px;

    /* elevation */
    --shadow-0: inset 0 1px 2px rgba(0, 0, 0, .39), 0 -1px 1px #FFF, 0 1px 0 #FFF; /* https://gist.github.com/nrrrdcore/3309046 */
    --shadow-1: rgba(0, 0, 0, 0.01) 0px 1px 3px 0px, rgba(0, 0, 0, 0.10) 0px 1px 3px 0px;
    --shadow-2: rgba(0, 0, 0, 0.10) 0px 1px 3px 0px, rgba(0, 0, 0, 0.10) 0px 1px 3px 0px;
}

html {
    font-size: 16px; /* 1rem */
    box-sizing: border-box;
}

* {
    font: var(--p1);
    color: var(--neutral-900);
}

/* https://css-tricks.com/box-sizing/#aa-universal-box-sizing-with-inheritance */
*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    max-width: 900px;
    margin: 24px auto;
    padding-bottom: 24px;
}

@media screen and (max-width: 948px) {
    body {
        margin-top: var(--spacing-md);
        -webkit-text-size-adjust: 100%; /* https://stackoverflow.com/a/2711132 */
        margin-bottom: max(24px, env(safe-area-inset-bottom)); /* https://webkit.org/blog/7929/designing-websites-for-iphone-x */
        margin-left: max(24px, env(safe-area-inset-left));
        margin-right: max(24px, env(safe-area-inset-right));
    }
}

.h-space-12 {
    display: inline;
    margin-left: var(--spacing-sm);
}

.v-space-6 {
    margin-top: var(--spacing-xs);
}

.v-space-12 {
    margin-top: var(--spacing-sm);
}

.v-space-24 {
    margin-top: var(--spacing-md);
}

svg.icon {
    width: 34px;
    height: 34px;
    padding: 9px;

    path {
        stroke: var(--neutral-900);
        stroke-width: 1.5;
    }
}

table {
    margin-top: var(--spacing-sm);
    width: 100%;
    border-collapse: collapse;
    border-radius: 6px;
    border-style: hidden;
    box-shadow: 0 0 0 1px var(--zinc-200);
}

tr {
    display: flex;
    justify-content: space-between;
    padding: 12px;
    border-bottom: 1px solid var(--zinc-200);
}

tr:last-child {
    border-bottom: none;
}

td {
    text-align: left;
    vertical-align: text-top;

    &.text {
        padding-right: 8px;

        .path {
            font: var(--sm);
            margin-top: 4px;
            color: var(--neutral-400);
        }
    }

    &.metrics {
        display: flex;
        align-items: center;
        justify-content: end;

        .value {
            margin-right: -4px;
        }

        svg {
            padding-right: 0;
            padding-left: 0;
            margin-right: -9px;

            path {
                stroke: var(--neutral-400);
                stroke-width: 1.5;
            }
        }
    }
}

.navbar {
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
        font: var(--h1);
        text-decoration: none;
    }

    .actions {
        display: flex;
    }
}

@media screen and (max-width: 750px) {
    .navbar {
        margin-top: 24px;
        flex-direction: column;
        align-items: flex-start;

        &:has(.actions) {
            height: 196px;
        }

        .actions {
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            height: 132px;
            margin-top: 24px;
        }
    }
}

.section {
    margin-top: 48px;

    .title-bar {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .title {
        font: var(--h5);
    }

    .subtitle {
        margin-top: 4px;
        color: var(--neutral-400);
    }

    .empty {
        margin-top: var(--spacing-sm);
    }
}

@media screen and (max-width: 750px) {
    .section {
        margin-top: var(--spacing-lg);
    }
}

.input-container {
    margin-top: var(--spacing-md);

    input,
    textarea {
        height: 44px;
        border-radius: 6px;
        border: 1px solid transparent;
        margin-left: -1px; /* To fix the transparent border */
        border-top: none;
        border-bottom: 1px solid var(--zinc-200);
        padding: 8px;
        margin-top: var(--spacing-xs);
        min-width: 320px;
        box-shadow: var(--shadow-0);

        &.error {
            border: 1px solid var(--red-600);
            color: var(--neutral-900);
            box-shadow: none;
        }
    }

    textarea {
        width: 100%;
        height: 300px;
        font: var(--sm);
        font-family: monospace;
        resize: none;
        tab-size: 4;
        field-sizing: content; /* https://developer.mozilla.org/en-US/docs/Web/CSS/field-sizing#browser_compatibility */
    }

    .error {
        color: var(--red-600);
        font: var(--sm);
    }
}

.hint {
    color: var(--neutral-400);
    font: var(--sm);
}

button.button-container,
button.dropdown-container {
    display: flex;
    position: relative;
    padding: 0;
    border: 0;
    background: none;
}

.button,
.pagination,
.dropdown-button,
.daterange {
    display: flex;
    height: 36px;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    border-radius: 6px;
    border: 1px solid var(--zinc-200);
    overflow: hidden;
    transition-property: background-color, box-shadow;
    transition-duration: 500ms;
    text-decoration: none;
    box-shadow: var(--shadow-1);

    &:has(svg) {
        padding-right: 0;
    }

    &:active {
        box-shadow: none;
    }

    &.primary {
        background-color: var(--neutral-900);
        color: white;

        svg.icon {
            path {
                stroke: white;
            }
        }

        &:hover {
            background-color: var(--zinc-400);
        }
    }

    a {
        height: 34px;
        line-height: 1;
    }
}

.button:hover,
.dropdown-button:hover,
.dropdown-option:hover {
    background-color: var(--zinc-100);
    cursor: pointer;

    &.primary {
        background-color: var(--gray-700);
    }
}

.dropdown-container {
    &.open {
        .dropdown-menu {
            display: block;
        }

        .dropdown-button {
            border-radius: 6px 6px 0 0;
        }
    }
}

.dropdown-button {
    min-width: 160px;
}

.dropdown-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    top: 36px;
    position: absolute;
    width: 100%;
    box-shadow: var(--shadow-2);
    display: none;
    background-color: white;
    z-index: 1;
    max-height: 198px; /* 5.5 items * 36px of option height */
    overflow: scroll;
}

.dropdown-option {
    text-decoration: none;
    padding-left: 12px;
    height: 36px;
    display: flex;
    align-items: center;
    border: 1px solid var(--zinc-200);
    border-top: none;
    white-space: nowrap;
    overflow: hidden;
    background: white;
}

.pagination-container {
    display: flex;
    flex-direction: row-reverse;
    margin-top: var(--spacing-sm);
}

.pagination {
    overflow: hidden;

    a {
        transition-property: background-color;
        transition-duration: 500ms;
    }

    a:hover {
        background-color: var(--zinc-100);
        cursor: pointer;
    }

    a:first-of-type {
        margin-left: 8px;
    }

    a.disabled {
        cursor: not-allowed;

        svg.icon {
            path {
                stroke: var(--neutral-400);
            }
        }
    }
}

.daterange {
    padding: 0;
    cursor: pointer;
    background-color: var(--zinc-100);
    border-color: var(--zinc-100);

    a {
        transition-property: background-color;
        transition-duration: 500ms;
        text-decoration: none;
        height: 28px;
        padding: 6px 12px;
        margin: 4px;
    }

    a:hover {
        background-color: var(--zinc-200);
        border-radius: 4px;
    }

    a.selected {
        background-color: white;
        border-radius: 4px;
        box-shadow: var(--shadow-1);
    }
}

.pageviews-chart-container {
    margin-top: var(--spacing-lg);
    border-radius: 6px;
    border: 1px solid var(--zinc-200);
    padding: 12px;

    .title {
        font: var(--sm);
        color: var(--neutral-400)
    }

    .count {
        margin-top: 4px;
        font: var(--h3);
    }
}

.barchart {
    .bar-background {
        fill: var(--zinc-200);
        fill-opacity: 0.2;
    }

    .bar-foreground {
        fill: var(--gray-900);

        .bar:hover {
            fill: url(#bar-selected);
        }
    }

    .tooltip {
        position: absolute;
        display: none;
        flex-direction: column;
        align-items: center;
        padding: 8px;
        border-radius: 6px;
        box-shadow: var(--shadow-1);
        background: var(--neutral-900);

        .label {
            font: var(--sm);
            color: var(--neutral-400);
        }

        .value {
            margin-top: 8px;
            color: white;
        }
    }
}

/* Lato Regular */
/* https://medium.com/going-fullstack/self-hosting-web-font-files-6a46bfc36ffd */
@font-face {
    font-display: block;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url('/assets/lato-v24-latin-regular.woff2') format('woff2');
}

/* Lato Bold */
@font-face {
    font-display: block;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: url('/assets/lato-v24-latin-700.woff2') format('woff2');
}