<!DOCTYPE html>
<html lang="en">
    {{template "head" "Projects"}}

    <body>
        {{template "navbar" .Navbar}}

        <div class="section">
            {{if eq .IsNewProject true}}
                <div class="title">New Project</div>
            {{end}}
            <form 
                {{if eq .IsNewProject true}}
                    {{if eq .IsOnboarding true}}
                        action="/projects/new?is_onboarding=true"
                    {{else}}
                        action="/projects/new"
                    {{end}}
                {{else}}
                    {{if eq .IsOnboarding true}}
                        action="/projects/{{.ProjectID}}?is_onboarding=true"
                    {{else}}
                        action="/projects/{{.ProjectID}}"
                    {{end}}
                {{end}} 
                    method="post">
                {{template "input" .ProjectNameInput}}
                {{template "input" .SiteURLInput}}
                {{if eq .IsNewProject false}}
                    {{template "textarea" .TrackingSnippetInput}}
                {{end}}
                <div class="v-space-24"></div>
                {{template "button" .SubmitButton}}
            </form>
        </div>
    </body>

</html>